html {
  font-family: 'Montserrat', sans-serif;
}

.logo {
  max-width: 10%;
}

.main-logo {
  max-width: 40%;
}

.hero-img {
  max-width: 100%;
  
}

.about-container {
  position: relative;
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.centered {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2vw;
  width: 90%;
  /* background-color: rgba(0, 0, 0, 0.438); */
}

.about-title {
  font-size: 4vw;
}